[global]
DEBUG = False
LOGFILE = /var/log/mqtt-zabbix.log
MQTT_HOST = emonpi.example.com
MQTT_PORT = 1883
#MQTT_TOPIC = /#
MQTT_TOPIC = emon/#
KEYFILE = /etc/mqtt-zabbix/items.csv
KEYHOST = emonpi-monitoring
ZABBIX_SERVER = zabbix.example.com
ZABBIX_PORT = 10051
